<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="file" xsi:type="File"
            layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${level} [${callsite:className=true:includeSourcePath=false:methodName=true}] ${message}"
            fileName="${basedir}/logs/Rinjani.log" />
    <target name="file_debug" xsi:type="File"
            layout="${date:format=yyyy/MM/dd HH\:mm\:ss.fff} ${level} [${callsite:className=true:includeSourcePath=false:methodName=true}] ${message}"
            fileName="${basedir}/logs/Rinjani_debug.log" />
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${message}">
      <highlight-row condition="starts-with('${message}', '>>')" foregroundColor="Blue" />
    </target>
    
    <target name="position" xsi:type="File"
        layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${message}"
        fileName="${basedir}/logs/Rinjani_position.log" />
    <target name="arbitrager" xsi:type="File"
      layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${message}"
      fileName="${basedir}/logs/Rinjani_arbitrager.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="file_debug" />
    <logger name="*PositionService*" minlevel="Info" writeTo="position" />
    <logger name="*Arbitrager*" minlevel="Info" writeTo="arbitrager" />
  </rules>
</nlog>
